<mat-toolbar style="overflow: auto;" color="primary">
  <span style="float: left;">Chain Reaction</span>
  <span style="right: 0; position: absolute; padding-right: 15px;"
    >{{ currTurn }}'s Turn</span
  >
</mat-toolbar>

<div class="container">
  <mat-grid-list [cols]="cols" rowHeight="1:1">
    <div *ngFor="let item of [].constructor(cols); let i = index">
      <div *ngFor="let item of [].constructor(rows); let j = index">
        <mat-grid-tile
          [@colorState]="colorState[i][j]"
          (click)="check(i, j)"
          style="color: white;"
          ><p *ngIf="grid[i][j] != 0">{{ grid[i][j] }}</p></mat-grid-tile
        >
      </div>
    </div>
  </mat-grid-list>
</div>
