<mat-toolbar color="primary">
  <span style="margin-left: 10px;">Chain Reaction</span>
</mat-toolbar>

<div class="container">
  <mat-grid-list cols="8" rows="9" rowHeight="9:8">
    <div *ngFor="let item of [].constructor(72); let i = index">
      <mat-grid-tile
        [ngClass]="true ? color : ''"
        *ngIf="cnt[i] === 1"
        (click)="check(i)"
        >1</mat-grid-tile
      >
      <mat-grid-tile *ngIf="cnt[i] === 0" (click)="check(i)"></mat-grid-tile>
      <mat-grid-tile *ngIf="cnt[i] === 2" (click)="check(i)">2</mat-grid-tile>
      <mat-grid-tile *ngIf="cnt[i] === 3" (click)="check(i)">3</mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
