.home-page {
  width: 100px;
  height: 100px;
  //   background-color: red;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
      and if we allow the items to wrap 
      * Remember this is the same as:
      * flex-direction: row;
      * flex-wrap: wrap;
      */
  flex-flow: row wrap;
  width: 500px;
  height: 100px;
  //   background-color: red;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

.flex-item {
  width: 40%;
}
